body {
  margin: 0;
  padding: 0;
}
.container {
 background: black;
 height: 100vh;
 width: 100%;
}

/*menu*/
.menu{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

 .menu-promo{
   width: 100%;
   background: white;
   height: 3vh;
 }
 .menu-main {
   width: 100%;
   background: orangered;
   height: 8vh;
 }
  .menu-categorias {
    width: 100%;
    background: red;
    height: 4vh;
  }
