/* geral */




body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  
}
.container {
 background: black;
 height: 100%;
 width: 100%;
}

/*menu*/
.menu{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

.menu-promo{
  width: 100%;
  height: 3vh;
  background: white;
  border-bottom: solid 2px rgb(126, 126, 126);
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

.menu-main {
  width: 100%;
  height: 8vh;
  background: white;
  display: grid;
  column-gap: 25px;
  grid-template-columns: auto auto auto;
  padding: 5px;
}

  .menu-option {
    width: 100%;
    height: auto;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: flex-end;
  }
  .menu-logo {
    width: 100%;
    height: auto;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: flex-end;
    margin-left: auto;
    margin-right: auto; 
  }
  .menu-user {
    width: 100%;
    height: auto;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: end;
    align-content:flex-end;
    justify-content: flex-end;
    margin-left: auto;
    margin-right: auto; 
  }

.menu-categorias {
  width: 100%;
  height: 4vh;
  background: white;
  border-bottom: solid 2px rgb(126, 126, 126);
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content:center;
  justify-content: space-around;
  margin-left: auto;
  margin-right: auto; 
}

/* slider */

.btn-voltar {
  background-color: black;
  height: 25px;
  width: 25px;
  top: 45%;
  left: 30px;
  position: absolute;
  z-index: 1;
}
.btn-avancar {
  background-color: black;
  height: 25px;
  width: 25px;
  top: 45%;
  right: 30px;
  position: absolute;
  z-index: 1;
}

.slider-main{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 80px;
}
.slider {
  width: 100%;
  height: 500px;
  margin: auto;
  position: relative;
  padding-inline-start: 0;
  display: flex;
  flex-direction: column;
  justify-content: ;
  
}

/*.slider li {
  list-style: none;
  position: absolute;
  margin: auto;
  height: 100%;
  width: 100%;
}*/

.slide{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}


/*.slider li div {
  height: 100%;
  width: 100%;
}

.slider input {
  display: none;
}

.slider label {
  background-color: white;
  bottom: 10px;
  cursor: pointer;
  display: block;
  height: 10px;
  position: absolute;
  width: 10px;
  z-index: 10;
}

.slider li:nth-child(1) label {
  left: 10px;
}

.slider li:nth-child(2) label {
  left: 40px;
}

.slider li:nth-child(3) label {
  left: 70px;
}

.slider li div {
  opacity: 0;
  visibility: hidden;
}

.slider li input:checked ~ div {
  opacity: 1;
  visibility: visible;
  transition: 2.5s;
  z-index: 10;
}*/


/* coleções */
.colecoes {
  width: 100%;
  height: 800px;
  background: black;
  display: grid;
  column-gap: 25px;
  grid-template-columns: auto auto auto;
}

/* footer */
.rodape {
  width: 100%;
  height: 300px;
  background: white;
}
